@charset "utf-8";

.parameter-expmode .swiper-container {
	background: rgba(0,0,0,.5);
	margin: 0 0 5px 0;
}

.parameter-expmode .swiper-slide {
	overflow: hidden;
    font-size: 13px;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    position: relative;
    line-height: 28px;
    width: auto;
    padding: 5px 15px;
    text-shadow: 0 1px 2px rgba(0,0,0,.4);
}
.parameter-expmode .swiper-container .swiper-slide.on{
    color: #00d2ff;
}
.parameter-exprosure {
    display: none;
}
.ctrl-icon {
    position: absolute;
    width: 100%;
    bottom: 60px;
    left:0;
    height: auto;
    /*display: none;*/

}
.ctrl-icon .iconfont {
    /*background: #00d2ff;*/
    color: #fff;
    font-size: 24px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 40px;
    /*border-radius: 100%;*/
    margin: 0 auto;
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
    /*animation: fade 1500ms infinite;*/
    /*-webkit-animation: fade 1500ms infinite;*/
}

#focusSizeSelect {
    position: absolute;
    top: 70px;
    left: 80px;
    background: #fff;
    width: 40px;
    text-align: center;
}
.cpuTemp {
    color: #fff;
    font-style: inherit;
}
